---
export const prerender = false;

import MetaFields from "$lib/layouts/content/metaFields.svelte";
import { Layout } from "$lib/layouts";
import { supabase } from "$lib/server/supabase";

const access_token = Astro.cookies.get("access-token")?.value;
const refresh_token = Astro.cookies.get("refresh-token")?.value;

const { data: { session } } = await supabase.auth.getSession();

if (!session) return Astro.redirect("/@/auth?r=You are not logged in");

if (!access_token || !refresh_token
) return Astro.redirect("/@/auth?r=You have been logged out");

const {
  data, error
} = await supabase.auth.setSession({ access_token, refresh_token });

if (error || !data.session) {
  Astro.cookies.delete("access-token");
  Astro.cookies.delete("refresh-token");

  return Astro.redirect(
    "/@/auth?r=" + error?.message ?? "Could not find your session"
  , 400);
}
---

<Layout class="px-0">
  <a href="/@" class="underline px-1 block mb-1">Back to dashboard</a>
  <MetaFields client:load />
</Layout>
