---
export const prerender = true;

import { BlogPost, Layout } from '$lib/layouts';
---

<Layout
  class="p-sm space-y-md pt-xl"
  background="bg-white"
  foreground="text-black"
  seo={{ title: 'Blogs' }}
>
  <section class="h-screen">
    <h1>Blogs</h1>
  </section>
  <BlogPost />
</Layout>
