---
export const prerender = true;

import { Shine } from "$lib/components";
import { BlogPost, Layout } from "$lib/layouts";
---

<Layout class="content space-y-md pt-xl" seo={{ title: "Blogs" }}>
  <section id="post" class="in-grid">
    <p class="mb-md label">Latest blogs</p>
    <Shine client:load>
      <BlogPost />
    </Shine>
  </section>
</Layout>
