---
import { BlogPost, Layout } from "$lib/layouts";
---
<Layout class="space-y-2">
  <section id="post" class="space-y-1 max-w-5xl mx-auto">
    <p class="uppercase tracking-wide text-sm">Latest blogs</p>
    <BlogPost />
  </section>
</Layout>
