---
import { Layout } from "$lib/layouts";
---

<Layout title="Auth | Admin only" class="max-w-md mx-auto">
  {!Astro.locals.user ?
    <>
      <h1 class="mb-sm text-lg font-bold leading-snug"
        >The admin page is prohibited from any visitor except the author.</h1
      >
      <form action="/api/auth" method="post" class="space-y-sm">
        <div class="space-y-2">
          <label for="email">Your Email</label>
          <input type="email" name="email" id="email" placeholder="email@example.com" required />
        </div>
        <div class="space-y-2">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" placeholder="Password" required />
        </div>
        <button class="primary label w-full">Sign in</button>
      </form>
    </>
    : <>
      <p class="text-lg font-bold mb-sm">You are already signed in</p>
      <a href="/@" class="btn inline underline">Go to admin dashborad</a>
    </>
  }
</Layout>

<style>
  label {
    font-size: smaller;
    font-weight: 500;
  }
</style>