---
export const prerender = false;

import MetaFields from "$lib/layouts/content/metaFields.svelte";
import { Layout } from "$lib/layouts";

const user = Astro.locals.user;

if (!user)
  return Astro.redirect("/@/auth");

console.log(user.email);

---

<Layout class="px-0">
  <a href="/@" class="underline inline-block px-4 mb-md">Back to dashboard</a>
  <MetaFields client:load />
</Layout>
