---
export const prerender = false;

import {Layout} from "$lib/layouts";
import { supabase } from "$lib/server/supabase";

const { data, error } = await supabase.auth.getSession();
console.log({data});

if (error || data.session == null) {
  return Astro.redirect(
    "/@/auth?r=" + error?.message ?? "Could not find your session"
  , 400);
}

const user = data.session?.user!;
---

<Layout class="space-y-1">
  <p>Hello {user.user_metadata.name}</p>
  <a href="/@/create" class="underline">Create a new post</a>
  <form action="/api/auth/signout" method="post">
    <button class="px-1 py-0.125 bg-red-800 text-red-200 label block"
    >Signout</button>
  </form>
</Layout>
