---
export const prerender = false;

import {Layout} from "$lib/layouts";
import { supabase } from "$lib/server/supabase";

const access_token = Astro.cookies.get("sb-access_token");
const refresh_token = Astro.cookies.get("sb-refresh_token");

if (!access_token || !refresh_token) {
  return Astro.redirect("/@/auth");
}

const { data, error } = await supabase.auth.setSession({
  access_token: access_token.value,
  refresh_token: refresh_token.value
});

if (error) {

  Astro.cookies.delete("sb-access_token", {
    path: "/"
  });

  Astro.cookies.delete("sb-refresh_token", {
    path: "/"
  });

  return Astro.redirect("/@/auth");
}

const user = data.session?.user!;
---

<Layout class="space-y-1">
  <p>Hello {user.user_metadata.name}</p>
  <a href="/@/create" class="underline">Create a new post</a>
  <form action="/api/auth/signout" method="post">
    <button class="px-1 py-0.125 bg-red-800 text-red-200 label block"
    >Signout</button>
  </form>
</Layout>
