---
export const prerender = true;

import { Layout } from "$lib/layouts";
---

<Layout seo={{ title: "About" }}>
	<section class="md:grid md:grid-cols-12 space-y-sm">
		<h1 class="anim col-start-1 col-end-13 lg:col-start-2 lg:col-end-12 text-3xl font-bold leading-snug">I'm currently a final year computer science student based in India.</h1>

		<h2 class="anim md:col-start-1 md:col-end-12 lg:col-start-2 lg:col-end-8 text-xl leading-snug font-serif">
			<span class="mark">Back in 2020, I discovered my passion for web development and since then, I have been on an journey of learning. I build deeply optimized, SEO friendly with good UI design, backing up by strong web tools.</span>
		</h2>

		<div class="anim col-start-1 col-end-8 lg:col-start-2 space-y-sm">
			<p>I'm studying B.Tech from <a href="https://rcciit.org/" target="_blank" rel="noopener noreferrer" class="underline">Rcc Institute of Information Technology</a> and for the past 4 years, I had the opportunity to delve into various aspects of computer science. From understanding the inner workings of operating systems, to exploring the intricacies of networking and the fascinating world of database management systems, my college education has provided me with a solid foundation.</p>
			
			<p>However, my true passion lies in frontend engineering. I love to create visually appealing and user-friendly websites that leave a lasting impression. The combination of captivating designs and seamless user experiences is what keeps me inspired and motivated.</p>

			<p>Web technology is not the only thing that occupies me, I am also interested in functional programming.</p>
		</div>

		<div class="anim-fade col-start-9 col-end-13 lg:col-end-12 space-y-1 md:[grid-row:3/3] lg:[grid-row:2/2]">
			<h3 class="text-lg font-bold leading-snug">My most used tools and frameworks</h3>
			<p>
				My go-to tools and frameworks include Svelte, TailwindCSS, Astro, Bun, and Supabase.
			</p>
		</div>

		<p class="anim-fade col-start-9 col-end-13 lg:col-end-12 md:[grid-row:3/3] md:self-end lg:self-start font-serif">I also write technical blogs with topics from ranging parsers in JavaScript to functional programming with Haskell. Check out <a href="/blog" class="underline">my blogs.</a>
		</p>
	</section>
</Layout>

<style>
	.anim {
		transform: translate3d(0, 50px, 0);;
		opacity: 0;
		will-change: transform, opacity;
	}
	.anim-fade {
		opacity: 0;
		will-change: opacity;	
	}
</style>

<script>
	import { animate, stagger } from "motion";

	animate(".anim",
		{ y: [50, 0], opacity: 1 },
		{ delay: stagger(0.15) }
	);
	animate(".anim-fade",
		{ opacity: 1 },
		{ delay: 0.5 }
	);
</script>