---
export const prerender = true;

import { AUTHOR, DESCRIPTION } from "$lib/consts";
import { Layout, BlogPost } from "$lib/layouts";
---

<Layout>
  <section class="breakout primary rounded-lg p-sm space-y-sm">
    <div class="overflow-hidden">
      <h1 data-animate class="leading-none uppercase font-display">{AUTHOR}</h1>
    </div>

    <div class="overflow-hidden">
      <h4 data-animate class="font-serif">
        {DESCRIPTION}.
      </h4>
    </div>
  </section>

  <section id="post" class="in-grid mb-md">
    <p class="mb-md label">Latest blogs</p>
    <BlogPost />
  </section>
</Layout>

<style>
  [data-animate] {
    will-change: transform, opacity;
    transform: translateY(100%);
  }
</style>

<script>
  import { animate, stagger } from "motion";

  animate(
    "[data-animate]",
    { y: ["100%", 0] },
    { duration: 0.8, delay: stagger(0.1) },
  );
</script>
