---
export const prerender = true;

import { AUTHOR, DESCRIPTION } from "$lib/consts";
import { Layout, BlogPost } from "$lib/layouts";
---

<Layout class="space-y-lg">
  <section class="max-w-5xl mx-auto space-y-sm">
    
    <div class="overflow-hidden">
      <h1 data-animate class="heading uppercase">{AUTHOR}</h1>
    </div>

    <div class="overflow-hidden">
      <h2 data-animate class="text-2xl leading-snug font-serif">{DESCRIPTION}.</h2>
    </div>
  </section>

  <section id="post" class="max-w-5xl mx-auto">
    <p class="mb-sm label">Latest blogs</p>
    <BlogPost />
  </section>
</Layout>

<style>
  [data-animate] {
    will-change: transform, opacity;
    transform: translateY(100%);
  }
  #post {
    will-change: transform, opacity;
    transform: translateY(80px);
    opacity: 0;
  }
</style>

<script>
  import { animate, stagger } from "motion";

  animate("[data-animate]",
    { y: ["100%", 0] },
    { duration: 0.8, delay: stagger(0.1) }
  );
  animate("#post",
    { y: [80, 0], opacity: [0,1,1,1] },
    { duration: 0.8, delay: 0.5 }
  );
</script>