---
export const prerender = true;

import { AUTHOR, DESCRIPTION } from "$lib/consts";
import { Layout, BlogPost } from "$lib/layouts";
---

<Layout class="pb-md">
  <section
    id="hero"
    class="full-w h-[90vh] lg:h-screen top-0 left-0 py-xl nice-background-with-animation"
  >
    <div class="content">
      <div class="breakout pt-2xs overflow-hidden" id="h1-wrapper">
        <h1 class="tracking-tight uppercase">
          {
            AUTHOR.split("").map((c) =>
              c == " " ? (
                <span class="char invisible inline-block">{c}&nbsp;</span>
              ) : (
                <span class="char invisible inline-block">{c}</span>
              ),
            )
          }
        </h1>
      </div>
      <div class="breakout mt-md">
        <h2 class="font-display font-light leading-[1.075]">
          {
            DESCRIPTION.split(" ").map((w) => (
              <span class="word inline-block opacity-25">{w}&nbsp;</span>
            ))
          }
        </h2>
      </div>
    </div>
  </section>

  <section class="block full-w -mt-sm p-sm rounded-t z-[2] bg-white">
    <div id="blogs">
      <p class="label mb-sm">Latest blogs</p>
      <BlogPost />
    </div>
  </section>
</Layout>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  onload = () => {
    gsap.registerPlugin(ScrollTrigger);

    const tl = gsap.timeline();
    gsap.set("span.char", {
      yPercent: 100,
      visibility: "visible",
    });

    gsap.to("span.char", { yPercent: 0, stagger: 0.1, ease: "back.out" });
    tl.to("span.word", { opacity: 1, stagger: 0.05, delay: 0.5 });
    tl.to("#hero", { height: "auto" });

    // gsap.to("#hero", {
    //   y: -200,
    //   scrollTrigger: {
    //     trigger: "#blogs",
    //     scrub: 0.8,
    //     markers: true,
    //     start: `top 90%`,
    //     end: "top +=0",
    //   },
    // });
  };
</script>

<noscript>
  <style>
    span.char {
      visibility: visible;
    }
    span.word {
      opacity: 1;
    }
    #blogs {
      visibility: visible;
      margin-top: calc(var(--space-md) * -1);
      transform: translateY(0);
    }
  </style>
</noscript>
