---
export const prerender = true;

import { AUTHOR, DESCRIPTION } from "$lib/consts";
import { Layout, BlogPost } from "$lib/layouts";
---

<Layout class="space-y-lg">
  <section class="max-w-5xl mx-auto space-y-sm">
    <h1 id="h1" class="heading uppercase">{AUTHOR}</h1>
    <h2 id="h2" class="text-2xl leading-snug font-serif">{DESCRIPTION}.</h2>
  </section>

  <section id="post" class="max-w-5xl mx-auto">
    <p class="mb-sm label">Latest blogs</p>
    <BlogPost />
  </section>
</Layout>

<style>
  #h1 {
    will-change: transform, opacity;
    transform: translateY(-50px);
    opacity: 0;
  }
  #h2 {
    will-change: transform, opacity;
    transform: rotateY(50px);
    opacity: 0;
  }
</style>

<script>
  import { animate } from "motion";

  animate("#h1",
    { y: [-50, 0], opacity: 1 },
    { duration: 0.4 }
  );
  animate("#h2",
    { y: [50, 0], opacity: 1 },
    { duration: 0.4, delay: 0.2 }
  );
</script>