---

---

<div class="rounded-md overflow-hidden">
  <div class="m-0 py-0.25 px-1 flex gap-1 justify-end items-center bg-white/25">
    <button onclick="copy()" class="font-sans text-sm font-semibold"
    >Copy
  </button>
  </div>
  <pre class="bg-white/5 !m-0 !rounded-none"><slot /></pre>
</div>

