---
import "@fontsource/pt-serif";
import "@fontsource/ubuntu-mono";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";
import "/src/tailwind.css";
import "splitting/dist/splitting.css";

import type { CSSProperty } from "astro/types";
import { Header, Footer, SEO } from "$lib/components";
import { DESCRIPTION, TITLE } from "$lib/consts";
import { cn } from "$lib/utils";

import defaultImg from "$img/blog-placeholder-1.jpg";

type Props = {
  class?: string;
  navClass?: string;
  style?: CSSProperty;
  background?: string;
  foreground?: string;
  seo?: {
    title?: string;
    desc?: string;
    img?: ImageMetadata;
    pubon?: Date;
    section?: string;
  };
};

const {
  class: className,
  navClass,
  background,
  foreground,
  seo = {
    title: TITLE,
    desc: DESCRIPTION,
    img: defaultImg,
    section: undefined,
    pubon: undefined,
  },
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="content-theme" content="light dark" />
    <SEO
      title={seo.title ?? TITLE}
      desc={seo.desc ?? DESCRIPTION}
      img={seo.img ?? defaultImg}
      section={seo.section}
      pubon={seo.pubon}
    />
    <style is:inline>
      html.lenis {
        height: auto;
      }

      .lenis.lenis-smooth {
        scroll-behavior: auto !important;
      }

      .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
      }

      .lenis.lenis-stopped {
        overflow: hidden;
      }

      .lenis.lenis-scrolling iframe {
        pointer-events: none;
      }
    </style><style>
      body::before {
        content: "";
        position: absolute;
        inset-inline: 0;
        height: 0;
        z-index: -1;
        background-image: linear-gradient(
          to bottom,
          var(--color, transparent),
          transparent
        );
        will-change: height;
      }
      @keyframes slide {
        from {
          height: 0vh;
        }
        to {
          height: 70vh;
        }
      }
    </style></head
  >

  <body class={cn("text-base bg-black text-white", background, foreground)}>
    <div id="top"></div>
    <Header
      class={cn("fixed top-0 w-full z-10 p-sm mix-blend-difference", navClass)}
    />
    <main class={cn("pt-[calc(var(--space-xl)+0.5rem)]", className)}>
      <slot />
    </main>
    <Footer class="bg-black text-white" />
    <script>
      import { lenis } from "$lib/effects";
      lenis();
    </script>
  </body>
</html>
