---
export const prerender = false;

import {Layout} from "$lib/layouts";
import { Auth } from "../utils";

if (Astro.request.method == "POST") {
  const data = await Astro.request.formData();
  const password = data.get("password")?.toString();
  const auth = new Auth();

  if (!password) return Astro.redirect("/@/auth?r=Password is not given");
  
  if (!auth.password(password).verify)
    return Astro.redirect("/@/auth?r=Password is incorrect");

  const session = auth.createSession();

  Astro.cookies.set("session", session, {
    path: "/@",
    maxAge: 99999999,
    secure: import.meta.env.PROD
  });

  return Astro.redirect("/@/create");
}

let toast = {
  access: "",
  msg: ""
};

const reason = new URLSearchParams(Astro.request.url.split("?")[1]).get("r");

if (reason) {
  toast.access = "denied"
  toast.msg = reason
}

---

<Layout class="md:grid md:grid-cols-8 space-y-2">
  <hgroup class="md:[grid-column:2/8] space-y-0.25">
    <h1 class="font-bold text-xl lg:text-3xl leading-tight"
    >The admin page is prohibited from any visitor except the author</h1>
    <h2 class="text-muted-light">A password authentication is given to prevent accessing the page.</h2>
  </hgroup>

  {toast.msg &&
    <div class="md:[grid-column:2/8] p-0.25 bg-red-800 text-red-200 rounded-md">
      <p class="font-bold text-sm label mb-0.125">Access {toast.access}</p>
      <p>{toast.msg}</p>
    </div>
  }

  <form method="post" class="md:[grid-column:2/8] flex flex-col md:flex-row gap-1">
    <input type="password" name="password" placeholder="Enter the super secured password"
      class="block w-full border-muted-dark rounded-md focus:border-muted-light focus:ring-transparent
             bg-muted-dark/25 text-white placeholder:text-muted-light text-sm"
      autocomplete="off" required
    />
    <button class="bg-fuchsia-800 text-fuchsia-200 label p-0.25 w-full rounded-md font-bold"
    >Enter to the void</button>
  </form>
</Layout>