---
import {Layout} from "$lib/layouts";

const user = Astro.locals.user;

if (!user)
  return Astro.redirect("/@/auth");
---

<Layout class="space-y-1">
  <p class="text-lg font-bold">Hello {user.user_metadata.name}</p>
  <a href="/@/create" role="button" class="primary label">Create a new post</a>
  <form action="/api/auth/signout">
    <button class=" label bg-red-800 text-red-200"
    >Signout</button>
  </form>
</Layout>
