---
import { AUTHOR } from "$lib/consts";
import Header from "./Header.astro";

const today = new Date();
---

<footer class="p-1">
	<Header class="block space-y-0.5" />
	<p><a href="#top" class="underline">Back to top</a></p>
	<p class="mt-1 text-sm text-muted">&copy;
		{today.getFullYear()} { AUTHOR }. All rights reserved.</p
	>
</footer>
	
<style>
	footer {
		text-align: center;
	}
</style>