---
const today = new Date();
---

<footer class="p-1">
	<p><small>
		&copy; {today.getFullYear()} Your name here. All rights reserved.
		</small></p>
</footer>
	
<style>
	footer {
		text-align: center;
	}
</style>