---
import { AUTHOR } from "$lib/consts";
import { cn } from "$lib/utils";
import A from "./navLink.astro";

const links = [
  { name: "About", href: "about" },
  // , {name: "Projects", href: "project"}
  { name: "Blogs", href: "blog" },
];

type Props = {
  class?: string;
};
---

<nav
  id="top"
  class={cn("flex justify-between flex-wrap gap-x-4", Astro.props.class)}
>
  <ul>
    <li>
      <a href="/" class="font-semibold" data-astro-prefetch>{AUTHOR}</a>
    </li>
  </ul>
  <ul class="flex flex-wrap justify-center gap-4 ml-auto">
    {
      links.map(({ name, href }) => (
        <li>
          <A href={`/${href}`} data-astro-prefetch>
            {name}
          </A>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  a[href] {
    text-decoration: none;
  }
</style>
