---
import { Layout } from "$lib/layouts";
import MetaFields from "$lib/layouts/content/metaFields.svelte";

if (!Astro.locals.user) return Astro.redirect("/admin/signin");
---

<Layout title="create a new post" class="px-0">
  <a href="/admin/dashboard" class="underline inline-block px-4 mb-md">Back to dashboard</a>
  <MetaFields client:load />
</Layout>