<section class="mt-xl relative primary space-y-md z-[2]" id="desc">
  <div class="overflow-hidden">
    <p
      data-text
      data-splitting="words"
      class="font-display text-3xl lg:text-4xl font-light leading-tight"
    >
      I'm currently a final year computer science student who loves web
      development and creative designing.
    </p>
    <p data-text class="label mt-md">
      Read more <a href="/about">about me</a>.
    </p>
  </div>
  <div class="overflow-hidden">
    <p
      data-text
      data-splitting="words"
      class="font-display text-3xl lg:text-4xl font-light leading-tight"
    >
      I also like to write articles about web technologies and what I have
      learnt.
    </p>
    <p data-text class="label mt-md">Check out <a href="/blog">my blogs</a>.</p>
  </div>
  <div class="overflow-hidden">
    <p
      data-text
      data-splitting="words"
      class="font-display text-3xl lg:text-4xl font-light leading-tight"
    >
      Beside the world wide web, I am also interested in functional programming
      and currently learning Haskell.
    </p>
  </div>
</section>

<script>
  import { gsap, split } from "$lib/effects";

  split();

  gsap.set("#desc", { rotateZ: 6, scale: 0.6 });

  gsap.to("#desc", {
    scale: 1,
    rotateZ: 0,
    ease: "sine.out",
    scrollTrigger: {
      trigger: "#desc",
      start: "top 90%",
      end: "bottom bottom",
      scrub: true,
      // markers: true,
    },
  });
  gsap.timeline().from("p[data-text] .word", {
    yPercent: 100,
    rotateZ: 5,
    opacity: 0,
    stagger: 0.04,
    ease: "power4.out",
    scrollTrigger: {
      trigger: "#desc",
      start: "top 70%",
      end: "bottom 50%",
      scrub: true,
      // markers: true,
    },
  });
</script>
